.sigmal-color {
    color: #2f638b;
}

.objmargin-vert {
    margin-top: 3%;
    margin-bottom: 3%;
}

.objpad-vert {
    padding-top: 3%;
    padding-bottom: 3%;
}

.objpad-top {
    padding-top: 3%;
}

.sigmal-navbar-logo {
    padding-left: 4%;
    padding-right: 3%;
}

#basic-navbar-nav {
    padding-right: 3%;
}

.objpad {
    padding: 3% ;
}

footer {
    background-color: #2f638b;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    color:aliceblue;
}