@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Courier Prime', monospace;
}
